h1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 800;
    color: var(--clr-darkpurple);

    &::before {
        content: url('/faq-accordion-main/assets/images/icon-star.svg');
        transform: scale(0.7);
        margin-left: -7px;
    }
}
h2 {
    font-size: 0.9rem;
    color: var(--clr-darkpurple);
    font-weight: 600;
}
p {
    font-size: 0.8rem;
    color: var(--clr-purple);
    font-weight: 400;
}